
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

html, body {
  height: 100%;
  width: 100%;
  background:url("imagenes/fondo.jpg");
  

  
}
#imagen{
  display:block;
  margin-bottom:10px;
  
}
#header{
  border-bottom:2px solid #eee;
  
}
.font{
  font-family: 'Pirata One', cursive;
}